.signup-form {
  width: 500px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input
